body{
    background-color: black;
    color: white;
}
nav, header, .contenedor, footer{
    max-width: 92%;
    margin: auto;
}
nav{
    background-color: brown;
}
header{
    background-color: darkcyan;
}
.contenedor{
    background-color: burlywood;
}
.Central{
    background-color: chocolate;
    display: inline-block;
    max-width: 65%;
    
}
footer{
    background-color: darkgreen;
}
aside{
    background-color: violet;
    display: inline-block;
    max-width: 27%;
}

.menu li{
    display:inline-block ;
}
